:root {
    --textColor: white;
    --mainBgColor: rgb(133, 30, 102); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
    // background-color: red;
    min-height: 100vh;
    padding: 30px;

    .container {
        box-shadow: 10px -3px 50px 1px rgba(42, 5, 77, 0.589);
        overflow: hidden;
        max-width: 350px;
        margin: 30px auto;
        border-radius: 15px;
        background-image: linear-gradient(
  335deg,
  hsl(55deg 100% 50%) 0%,
  hsl(49deg 71% 61%) 12%,
  hsl(32deg 38% 61%) 24%,
  hsl(311deg 21% 50%) 36%,
  hsl(288deg 85% 32%) 46%,
  hsl(304deg 86% 28%) 56%,
  hsl(321deg 89% 30%) 64%,
  hsl(342deg 94% 31%) 73%,
  hsl(346deg 97% 28%) 80%,
  hsl(333deg 97% 23%) 87%,
  hsl(312deg 97% 17%) 94%,
  hsl(262deg 98% 16%) 100%
);

        #profilePicture {
            width: 350px;
            height: 350px;
            background-image: url("../hunter-logo.png");
            background-position: center;
            border: none;
            background-repeat: no-repeat;
            border-radius: 15px 15px 0 0;
            background-size: cover;
        }

        h1 {
            font-size: 1.5rem;
            margin-top: 10px;
            text-align: center;
            color: var(--textColor);
            text-shadow: 2px 3px rgb(161, 69, 126);
        }
        p {
            text-align: center;
            color: var(--textColor);
            font-size: 1rem;
            margin-top: -5px;
        }
        a {
            text-align: center;
            display: block;
            text-decoration: none;
            font-size: .7rem;
            margin-top: 7px;
            color: #ffd7f5;
        }

        .discordBtn {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            
            button {
                padding: 10px 50px;
                border-radius: 6px;
                background-color: rgb(29, 119, 255);
                border: none;
                color: var(--textColor);
                display: flex;
                cursor: pointer;
                transition: all .3s;
                
                 i {
                    margin-right: 5px;
                 }
            }

            button:hover {
                box-shadow: 5px 0px 10px 1px rgba(67, 86, 250, 0.822);
                transform: scale(1.1);
            }
        }

        .aboutSection, .interestSection {
            margin: 15px 25px;

            h3 {
                color: var(--textColor);
            }
            p {
                text-align: left;
                font-size: .8rem;
                margin-top: 1px;
                font-weight: 300;
            }
        }

        footer {
            position: relative;
            display: flex;
            bottom: 0;
            width: 100%;
            height: 60px;
            justify-content: center;
            align-items: center;
            gap: 15px;
            background-color: rgba(34, 2, 56, 0.664);
            border-radius: 0 0 15px 15px;

            i {
                color: var(--textColor);
                font-size: 1.7rem;
                transition: all 0.5s;
            }

            i:hover {
                transform: scale(1.3) rotate(360deg);
                color: #9257ff;
            }
        }
    }
}
